<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>EventBrite</title>
  <link rel="stylesheet" href="/static/default.css">

</head>
<body>
  <div class="container-fluid main">


    <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="item active background a"></div>
      </div>
    </div>
    
    <div class="covertext">
      <div class="col-lg-10" style="float:none; margin:0 auto;">
       
        <h1 class="title">Eventbrite</h1>
        
      </div>
      <div class="col-xs-12 explore">
        <a href="{{url_for('register')}}"><button type="button" class="btn btn-lg explorebtn">Register/Login</button></a>
      </div>
    </div>
    
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    

<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3 class="subtitle">All-in-One Event Management Platform</h3>
  
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>Bridal Shower</h2>
    </div>
</section>

<section>
  <div class="parallax-two">
    <h2>Weddings</h2>
  </div>
</section>

<section>
  <div class="parallax-three">
    <h2>Birthday party</h2>
  </div>
</section>

<section>
  <div class="title">
    <h3>And much more....!</h3>
  
  </div>
</section>
  
</div>
</body>
</html>
