<!-- Anna -->
{% extends 'home.html' %}

{% block body %}
<div class="row">
	{% for x in dec %}
	<div class="col-lg-3" style="padding-left: 30px; padding-right: 0px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
				
                <a href="#">
					<img src="{{ x.url_pic }}" alt="" class="theme_img">
				</a>
				<div class="caption text-center">
					<h4 class="bold">{{ x.theme_name }}</h4>
					<!-- <p>
						{{ x.id }}
					</p> -->
					<hr />
					<p>
						
						<a href="{{ url_for('bookings', name=x.theme_name) }}" class="btn btn-default btn-sm">
							 Select
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>



{% endblock %}